@import "./theme.css";

editor-root.maximized,
:host(.maximized) editor-root {
    padding: var(--fsMargin, 0px);
}
editor-root.maximized editor-area,
:host(.maximized) editor-root editor-area {
    height: calc(100vh - var(--toolbar-height));
}
editor-root.maximized bottom-panel,
:host(.maximized) editor-root bottom-panel {
    width: calc(100% - (var(--fsMargin, 0px) * 3));
}

editor-root {
    display: block;
    font-family: var(--sans-font);
    line-height: 20px;
    font-size: 15px;
    position: relative;
    background-color: var(--editor-background);
    z-index: 5;
}    
editor-area {
    display: flex;
    flex-direction: row;
    min-height: var(--editorMinHeight, 10vh);
    max-height: var(--editorMaxHeight, 100vh);
}
editor-panes {
    display: flex;
    flex-basis: 100%;
    overflow: auto;
}
editor-pane {
    overflow: auto;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
}
editor-pane.dragging {
    background-color: var(--dragtarget-color);
}
editor-pane.dragging * {
    visibility: hidden;
}
editor-panes.horiz {
    flex-direction: row;
}
editor-panes.horiz editor-pane:not(:first-child) {
    border-left: var(--editor-border);
}
editor-panes.vert {
    flex-direction: column;
}
editor-panes.vert editor-pane:not(:first-child) {
    border-top: var(--editor-border);
}
editor-tab, output-tab, keymap-tab {
    width: 100%;
    height: fit-content;
}
web-tab {
    width: fit-content;
    height: 100%
}
text-tab {
    width: 100%;
    height: 100%;
    flex-direction: column;
}
text-tab:not[hidden] {
    display: flex;
}
side-panel {
    flex: 0 0 200px;
    background: linear-gradient(to right, var(--divider-color), var(--sidepanel-color) 2px);
    overflow: hidden;
}
bottom-panel {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    transform: perspective(50vw) rotateX(90deg);
    transform-origin: bottom;
    transition: transform 0.3s;     
}
bottom-panel:focus-within {
    transform: perspective(50vw) rotateX(0deg);
}
.lds-ripple,
.lds-ripple div {
    box-sizing: border-box;
}
.lds-ripple {
    display: block;
    position: fixed;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    z-index: 100;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid currentColor;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}